@font-face { 
	font-family: StarWars;
	src: url('SfDistantGalaxy-0l3d.ttf');
}
@font-face {
	font-family: Droidobesh;
	src: url('DroidobeshDepot-gxmVE.otf');
}

body {
	font-family: Century Gothic, sans-serif;
// font-family: StarWars, sans-serif;
//	font-family: Droidobesh, sans-serif;
	margin: 20px;
	background-color: #2c2c2c; /* dark grey */
	color: #ffffd0; /* off white */
}
a {
	color: green;
	font-weight: bold;
}
label {
	display: block;
	margin-bottom: 5px;
	font-family: StarWars;
	font-weight: bold;
}
select, input[type="text"], textarea {
	width: 300px;
	padding: 8px;
	border-radius: 6px;
	border: 1px solid #777;
	background-color: #1e1e1e;
	color: #ffffff;
}
textarea {
	height: 100px;
	resize: vertical;
}
button {
	padding: 8px 16px;
	border: none;
	border-radius: 6px;
	background-color: #007BFF;
	color: white;
	cursor: pointer;
	margin-bottom: 10px;
}
button:hover {
	background-color: #0056b3;
}
pre {
	background: #1e1e1e;
	padding: 10px;
	border-radius: 6px;
	color: #00ffcc; /* teal output text */
}

.section {
	border: 1px solid #555;
	border-radius: 6px;
	margin-bottom: 15px;
	padding: 10px;
	display: table-cell;
	background-color: #3a3a3a; /* slightly lighter dark grey */
	vertical-align: top;
}
.fontBasic {
	font-family: Century Gothic, sans-serif;
}
.fontStarWars {
	font-family: StarWars, sans-serif;
}
.fontBesh {
	font-family: Droidobesh, sans-serif;
}
.form-group {
	margin-bottom: 15px;
}
.widthFullscreen {
	width: 95vw;
}
.widthFull {
	width: 100%;
}
.widthHalf {
	width: 50%;
}
.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}
.alignTop {
	vertical-align:top;
}
.alignMiddle {
	vertical-align:middle;
}
.localEventFree {
	font-weight: bold;
	background-color: green;
}
.localEventDestinyOptional {
	font-weight: bold;
	background-color: orange;
}
.localEventDestinyRequired {
	font-weight: bold;
	background-color: red;
}
.localCustomsBox {
	vertical-align: top;
	display: block;
	margin: 10px;
	padding: 10px;
	border: 5px solid grey;
	background-color: black;
}
.localCustomsBoxHeader {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
}
.instructionsBox {
	vertical-align: top;
	display: block;
	margin: 10px;
	padding: 10px;
	border: 5px solid grey;
	background-color: black;
}
.localEvents {
	vertical-align: top;
	display: block;
}
.matchedHyperlane {
	color: green;
	font-weight: bold;
}
.gravityHigh {
	color: red;
	font-weight: bolder;
}
.gravityLow {
	color: aquamarine;
	font-weight: lighter;
}
.manifestItem {
	display: inline-block;
}
.locationDetailsItem {
	display: inline-block;
}
.nowrap {
	white-space: nowrap;
}
.silhouette5plus {
	color: red;
}
.silhouette5plus:after {
	content: " (commercial/military starport rates apply)";
}
.atmos4 {
	color: maroon;
}
.atmos4:after {
	content: " (Environment Suit required)";
}
.atmos3 {
	color: red;
}
.atmos3:after {
	content: " (Breath Mask essential)";
}
.atmos2 {
	color: orange;
}
.atmos2:after {
	content: " (Breath Mask recommended)";
}
.atmos1 {
}
.atmos1:after {
	content: " (Breathable)";
}
