@font-face { 
	font-family: StarWars;
	src: url('SfDistantGalaxy-0l3d.ttf');
}
@font-face {
	font-family: galbasic;
	src: url('galbasic.ttf');
}
@font-face {
	font-family: Droidobesh;
	src: url('DroidobeshDepot-gxmVE.otf');
	font-weight: lighter;
}
@font-face {
	font-family: Aurebesh;
	src: url('Aurebesh.otf');
/*	font-weight: lighter; */
}
@font-face {
	font-family: Starkiller;
	src: url('Starkiller.ttf');
}

body {
/*	font-family: Calibri, sans-serif; */
	font-family: Starkiller, sans-serif;
	margin: 20px;
	background-color: #2c2c2c; /* dark grey */
	color: #ffffd0; /* off white */
}
a {
	color: aliceblue;
}
label {
	display: block;
	font-weight: bold;
	font-size: bigger;
}
select, input[type="text"], textarea {
	width: 300px;
	padding: 8px;
	border-radius: 6px;
	border: 1px solid #777;
	background-color: #1e1e1e;
	color: #ffffff;
}
textarea {
	height: 100px;
	resize: vertical;
}
button {
	background-color: #000000;
	border-radius: 6px;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	display: inline-block;
	font-size: 0.7em;
}
button:hover {
	background-color: #0056b3;
}
pre {
	background: #1e1e1e;
	padding: 10px;
	border-radius: 6px;
	color: #00ffcc; /* teal output text */
}

#starportHeader {
	font-size: smaller;
}

.hidden {
	display: none;
}
.tooltip {
  position: relative;
  /* border-bottom: 1px dotted black; dots under the hoverable text */
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  display: inline-table;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: Century Gothic, sans-serif;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
/*  visibility: visible;  I think these get in the way more than they help */
}
.section {
	border: 1px solid #555;
	border-radius: 6px;
	margin-bottom: 15px;
	padding: 10px;
	display: table-cell;
	background-color: #3a3a3a; /* slightly lighter dark grey */
	vertical-align: top;
}
.main-header {
    display: inline-block;
    font-size: 2em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: bottom;
}
.font-normal {
	font-family: Calibri, sans-serif;
}
.font-starwars {
	font-family: Starkiller, sans-serif;
	font-weight: lighter;
}
.font-besh {
	font-family: Aurebesh, sans-serif;
}
.form-group {
	margin-bottom: 15px;
}
.highlight {
	color: orangered;
}
.width-fullscreen {
	width: 95vw;
}
.width-full {
	width: 100%;
}
.width-half {
	width: 50%;
}
.colspan-2 {
	colSpan: 2;
}
.margin-0 {
	margin: 0px;
}
.align-left {
	text-align: left;
	float: left;
}
.align-right {
	text-align: right;
	float: right;
}
.align-top {
	vertical-align: top;
}
.align-middle {
	vertical-align: middle;
}
.align-bottom {
	vertical-align: bottom;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
}
.box-around {
	border: solid grey 3px;
	width: fit-content;
	padding: 2px;
}
.reference-note {
	font-size: smaller;
	text-align: center;
}
.smaller {
	font-size: smaller;
}	
.local-event-free {
	font-weight: bold;
	background-color: green;
}
.local-event-destiny-optional {
	font-weight: bold;
	background-color: orange;
}
.local-event-destiny-required {
	font-weight: bold;
	background-color: red;
}
.local-customs-box {
	vertical-align: top;
	width: 33%;
	display: table-cell;
	margin: 10px;
	padding: 10px;
	border: 5px solid grey;
	background-color: black;
}
.local-customs-box-header {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
}
.instructions-box {
	vertical-align: top;
	display: block;
	margin: 10px;
	padding: 10px;
	border: 5px solid grey;
	background-color: black;
}
.local-events {
	vertical-align: top;
	display: block;
}
.matched-hyperlane {
	color: green;
	font-weight: bold;
}
.gravity-high {
	color: red;
	font-weight: bolder;
}
.gravity-low {
	color: aquamarine;
	font-weight: lighter;
}
.gravity-none {
	color: red;
	font-weight: lighter;
}
.ship-manifest-header {
	vertical-align: text-bottom;
	font-size: large;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 10px;
}
.ship-manifest-menu {
	display: inline-block;
	vertical-align: bottom;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
}
.ship-manifest-item {
	display: inline-block;
	vertical-align: text-bottom;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	border: 1px solid grey;
}
.secret-manifest-item {
	display: inline-block;
	vertical-align: text-bottom;
/*	padding: 10px 25px 0px 10px; */
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	border: 1px solid green;
}
.secret-manifest-item:before {
	content: "(not shared with BoSS) ";
	font-size: x-small;
}
.secret-filters {
	padding: 10px 25px 0px 10px;
	border: 1px solid green;
}
.filter-input-hidden {
	/* placeholder for JavaScript */
}
.location-details-list {
	display: inline-grid;
}
.location-details-item {
	display: inline-block;
}
.hyperlanes {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.header3 {
	vertical-align: text-bottom;
	display: contents;
	font-size: larger;
	font-weight: bold;
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}
.nowrap {
	white-space: nowrap;
}
.silhouette-5-plus {
	color: red;
}
.silhouette-5-plus:after {
	content: "(commercial/military starport rates apply)";
}
.atmos-4 {
	color: fuchsia;
}
.atmos-4:after {
	content: " (Environment Suit required)";
}
.atmos-3 {
	color: red;
}
.atmos-3:after {
	content: " (Breath Mask essential)";
}
.atmos-2 {
	color: orange;
}
.atmos-2:after {
	content: " (Breath Mask recommended)";
}
.atmos-1 {
}
.atmos-1:after {
	content: " (Breathable)";
}
.law-felony {
	color: red;
}
.law-misdemeanor {
	color: yellow;
}
.law-infraction {
	color: aquamarine;
}
.law-frowned-upon {
	color: burlywood;
}
.law-tolerated {
	color: darkkhaki;
}
.law-no-restrictions {
	color: darkolivegreen;
}
.law-common {
	color: darkseagreen;
}
.law-recommended {
	color: chartreuse;
}
.starwars-dice {
	border: solid white 1px;
	width: fit-content;
	padding: 0px 4px 0px 4px;
	font-weight: bold;
	font-size: smaller;
}
.boost {
	background-color: lightblue;
	color: black;
}
.setback {
	background-color: black;
	color: white;
}
.ability {
	background-color: green;
	color: black;
}
.proficiency {
	background-color: yellow;
	color: black;
}
.difficulty {
	background-color: purple;
	color: white;
}
.challenge {
	background-color: red;
	color: black;
}
.force {
	background-color: #FEFEFE;
	color: #010101;
}
.success {
	background-color: green;
	color: white;
}
.failure {
	background-color: purple;
	color: white;
}
.advantage {
	background-color: green;
	color: white;
}
.threat {
	background-color: purple;
	color: white;
}
.triumph {
	background-color: yellow;
	color: black;
}
.despair {
	background-color: red;
	color: black;
}
.payme-link {
	font-size: smaller;
}
.cargo-declared {
	font-size: larger;
}
.select-short-number {
	max-width: 50px;
}
.select-medium-number {
	max-width: 100px;
}
